body {
    font-family: 'Montserrat', sans-serif;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 3% 15% 9%;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat-light', sans-serif;
}

/* button section */
.download-button {
    margin: 5% 3% 5% 0;
}

/* title section */
h1 {
    font-family: "Montserrat-Black", sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
}
h2 {
    font-family: "Montserrat-Bold",sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
h3 {
    font-family: "Montserrat-Black", sans-serif;
    font-weight: 900;
    font-size: x-large;
}
.title-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* feature section */
#features {
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

.feature-box {
    padding: 5%;
    text-align: center;

}

#features p {
    color: #8f8f8f;
}

/* testimonial Section */
#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.carousel-item{
    padding: 7% 15%;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
/* press section */
#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}
/* pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
}
@media (max-width: 1028px){
    .title-img{
        
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 6% 15%;

}
#footer{
    padding: 7% 40%;
    text-align: center;
}
.footer-para{
    color: #8f8f8f;
}
.social-icon{
    padding-bottom: 8%;
}
.footer-icon{
    padding: 0 3%;
}